---
import Chip from "../components/Chip.astro";
import Emp from "../components/Emp.astro";
import StyledA from "../components/StyledA.astro";
import Layout from "../layouts/Layout.astro";

const workExperience = [
  {
    title: "Summer Analyst – JSI SDLC",
    company: "Goldman Sachs",
    date: "May - July 2023",
    points: [
      "Migrated a legacy, custom-built VCS into GitLab for SDLC standardization across the firm",
      "Engineered a solution to create a read-replica of the monorepo of 12+ years with 316k+ commits, while maintaining data integrity",
      "Designed a financial AI assistant plugin for Marquee (digital platform for institutional clients of Goldman Sachs) in an internal hackathon"
    ],
    tags: ["Java", "Slang", "SecDB", "Git", "GitLab", "NextJS", "GPT API", "Tailwind"]
  },
  {
    title: "Backend Engineer Intern – Actor Review Tooling",
    company: "TikTok",
    date: "December 2022 - May 2023",
    points: [
      "Reduced 200 human-review hours and 4.2K moderation tasks per week by implementing a real-time task abandoner",
      "Streamlined database accesses and improved maintainability by integrating data services across multiple repositories in the pipeline",
      "Enhanced data schema consistency and integrity by implementing a robust validation layer",
      "Optimized human reviews and mitigated content risk on TikTok by deploying a task ranking model pipeline based on LGBM",
    ],
    tags: ["Go", "MongoDB", "Grafana", "KiteX", "Apache Thrift", "GitLab", "Kafka", "RocketMQ", "Hive", "Python", "PySpark", "PyCaret", "Pandas", "FaaS"]
  },
  {
    title: "Software Engineer Intern – Human Review",
    company: "Meta",
    date: "May - August 2022",
    points: [
      "Developed a self-served human review training workflow on an internal platform, reducing moderator onboarding and training time",
      "Increased labeling use cases from 22% to 71% and built dashboards for monitoring new features",
      "Improved UX on the labeling platform by processing long-running tasks asynchronously",
      "Collaborated with Cross-Functional Teams (Product Designers and Engineers) from Singapore and US through regular and ad-hoc meetings",
    ],
    tags: ["React", "Flow", "Hack", "GraphQL", "Relay", "Mercurial", "Hive"]
  }
]

const projects = [
  {
    title: "Rust – Open Source Project",
    date: "May 2023 - Present",
    points: [
      "Contributed to improving compiler error diagnostics",
      "Migrated documentation generator to Askama (template rendering engine)",
    ],
    tags: ["Rust", "Askama", "GitHub"],
  },
  {
    title: "EverydayFit – Academic Project",
    date: "September - November 2021",
    points: [
      "Led the team in frontend development throughout the SDLC with Agile methodology",
      "Developed UI and push notifications in mobile for displaying weather forecast, and weather-related activities using React Native",
    ],
    tags: ["React Native", "Expo", "Express", "JavaScript", "MongoDB", "GitHub"],
  },
  {
    title: "SiFinance – Personal Project",
    date: "May - July 2021",
    points: [
      "Developed a personal finance mobile app using React Native for wealth management, with visualizations and expense tracking",
      "Deployed to Google Play Store and downloaded by more than 60 users in 3 days",
    ],
    tags: ["React Native", "Expo", "JavaScript", "GitHub"],
  },
]
---

<Layout title="Nicky Lim's Personal Website">
  <main>
    <section class="min-h-screen flex flex-col justify-center items-center">
      <p class="text-8xl font-bold text-center mb-8">Nicky Lim</p>
      <p class="text-xl text-center mb-8">
        ⚙️ Software Engineering — 👐 Open Source — 📖 Educator
      </p>
      <div>
        <a href="https://www.linkedin.com/in/nicklimmm" class="mr-6">
          <i class="fa-brands fa-linkedin text-5xl hover:text-primary"></i>
        </a>
        <a href="https://www.github.com/nicklimmm" class="mr-6">
          <i class="fa-brands fa-github text-5xl hover:text-primary"></i>
        </a>
        <a href="mailto:nickylim.p@gmail.com">
          <i class="fa-solid fa-envelope text-5xl hover:text-primary"></i>
        </a>
      </div>
    </section>
    <section class="min-h-screen flex flex-col justify-center items-center sm:px-8 md:px-16 lg:px-24">
      <h1 class="text-4xl font-bold text-center mb-6">About Me</h1>
      <p class="text-lg mb-6">
        I'm in my final year of studying Computer Science at Nanyang Technological University, Singapore.
        Passionate in <Emp>building impactful software products</Emp> and <Emp>imparting knowledge</Emp> to others.
      </p>
      <p class="text-lg">
        I had software engineer internships in the domains of business integrity and SDLC at technology and investment banking companies.
        In my spare time, I also contribute to open source projects, mainly around the <StyledA href="https://www.rust-lang.org/" target="_blank">Rust</StyledA> ecosystem.
        My interests are in <Emp>backend development</Emp>, <Emp>distributed systems</Emp>, and <Emp>programming languages</Emp>. Other than programming, I do enjoy sports and playing musical instruments.
      </p>
    </section>
    <section class="lg:grid lg:grid-cols-5 lg:gap-x-4 min-h-screen">
      <div class="lg:sticky lg:top-0 lg:h-screen lg:col-span-2 flex items-center justify-center">
        <h1 class="text-4xl font-bold text-center pt-6 mb-6">Work Experience</h1>
      </div>
      <div class="lg:col-span-3 flex flex-col divide-y lg:py-12">
        {workExperience.map(({ title, company, date, tags, points }) => (
          <div class="rounded-md px-2 py-6 text-gray-650">
            <p class="text-sm mb-1 italic">{date}</p>
            <p class="font-semibold text-lg">{title}</p>
            <p class="font-semibold text-lg">{company}</p>
            <ul class="list-disc my-2">
              {points.map((point) => (
                <li>{point}</li>
              ))}
            </ul>
            <div class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <Chip className="text-xs inline">{tag}</Chip>
              ))}
            </div>
          </div>
        ))}
      </div>
    </section>
    <section class="lg:grid lg:grid-cols-5 lg:gap-x-4 min-h-screen mt-12">
      <div class="lg:sticky lg:top-0 lg:h-screen lg:col-span-2 flex items-center justify-center lg:order-2">
        <h1 class="text-4xl font-bold text-center pt-6 mb-6">Projects</h1>
      </div>
      <div class="lg:col-span-3 flex flex-col divide-y lg:py-12 lg:order-1">
        {projects.map(({ title, date, tags, points }) => (
          <div class="rounded-md px-2 py-6 text-gray-650">
            <p class="text-sm mb-1 italic">{date}</p>
            <p class="font-semibold text-lg">{title}</p>
            <ul class="list-disc my-2">
              {points.map((point) => (
                <li>{point}</li>
              ))}
            </ul>
            <div class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <Chip className="text-xs inline">{tag}</Chip>
              ))}
            </div>
          </div>
        ))}
      </div>
    </section>
  </main>
</Layout>
